/*news_thumbnail*/
.news_thumbnail {
    display: inline-block;
    border: 0;
    vertical-align: top;
    margin-bottom: 8px
}

.news_main ul {
    margin: 0;
    padding: 0;
}

/*news_info*/
.news_info {
    display: inline-block;
    padding: 10px;
    font-size: 12px;
}

.news_info h3 {
    margin: 0;
    color: #444;
    text-align: center!Important;
}

.news_info h3 a {
    text-decoration: none;
    font-size: 14px;
    text-align: center!Important;
    font-weight: 400;
    color: #444;
}

/*news_summary*/
.news_summary img {max-width: 150px;}

.news_results .thumb img {
    width: 100%;
    height: 150px;
}

.news_summary {
    color: #444;
    line-height: 1.7;
    text-align: center;
}

/*news_results*/
.main_news_results {
    overflow: hidden;
}
div#mainnav {
    padding: 5px;
    -moz-box-shadow: inherit;
}
#mainnav {
    text-align: center!important;
}

div#logo {
    float:left!Important;
}

div#mainnav {
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: -webkit-fill-available;
    background-color: #84929a;
    box-shadow: none!important;
    border: 0;
}

.new_news .grid_featured {
    margin: 0;
}

* {
    position: relative;
}
.main_news_results {
}
article.news_main_article {
    width: webkit-fill-available;
}

.new_news {
    margin: 0;
}
.new_news .grid_info {
    font-size: 16px;
    padding: 15px;
    left: 0px;
    bottom: 0px;
    z-index: 99;
    text-align: center!Important;
    width: -webkit-fill-available;
}

.new_news .grid_info a {
    color: #333;
}
.new_news .grid_image div {
    margin: 0;
    height: 200px;
    background-color: #6a7b9b;
}

main#news_main_news_grid {
    width: -webkit-fill-available;
    margin: 0;
    text-align: center;
    z-index: 0;
}

.new_news .grid_featured li {
    width: 350px;
    /* margin: 20px; */
}

article.news_main_article li {
    width: 250px;
}
.main_news_results .thumb {
    background-color: #6a7b9b;
}

footer {
    text-align: left!Important;
    padding: 0 10px 10px 10px;
}

.ads_main_news {

z-index: 10;
}
li.grid_game.pure-u-1-3.posted_date {
    background-color: #ad0d08;
    color:#fff;
    width: 100px;
}

.posted_date .grid_info {
    
    color:#fff;
}
.grid_info h3 {
    font-weight: 400;
    margin: 0;
    line-height: 1.3;
}
li.grid_search.pure-u-1-3 {
    width: 100%;
    padding: 30px 0 0 0;
}

.grid_search .grid_image {
    width: 300px;
    display: inline-block;
}

.grid_search .grid_info {
    max-width: 500px;
    text-align: left;
    vertical-align: top;
    display: inline-block;
}

.grid_search .grid_info h3 {
    text-align: left;
}

.grid_search .grid_info .news_summary {
    text-align: left;
}

h1 {
    font-weight: 400;
}
.main_menu {
    margin: 66px 0 0 0;
}
.pagination li {width: auto!Important;}

div#otherbody {
    max-width: 100%;
    margin-top: 66px;
    height: -webkit-fill-available;
    border: 0;
}

iframe.main_view_news_content {
    width: 100%;
    height: -webkit-fill-available;
    border: 0;
}
